[submodule "components/ESP-IDF-SX1262"]
	path = components/ESP-IDF-SX1262
	url = https://github.com/IgorTimofeev/ESP-IDF-SX1262.git
[submodule "components/ESP-IDF-BitStream"]
	path = components/ESP-IDF-BitStream
	url = https://github.com/IgorTimofeev/ESP-IDF-BitStream.git
[submodule "components/ESP-IDF-NVSExtensions"]
	path = components/ESP-IDF-NVSExtensions
	url = https://github.com/IgorTimofeev/ESP-IDF-NVSExtensions.git
[submodule "components/ESP-IDF-Units"]
	path = components/ESP-IDF-Units
	url = https://github.com/IgorTimofeev/ESP-IDF-Units.git
[submodule "components/ESP-IDF-MPU9250"]
	path = components/ESP-IDF-MPU9250
	url = https://github.com/IgorTimofeev/ESP-IDF-MPU9250.git
[submodule "components/ESP-IDF-BMP280"]
	path = components/ESP-IDF-BMP280
	url = https://github.com/IgorTimofeev/ESP-IDF-BMP280.git
[submodule "components/ESP-IDF-BusHAL"]
	path = components/ESP-IDF-BusHAL
	url = https://github.com/IgorTimofeev/ESP-IDF-BusHAL.git
[submodule "components/ESP-IDF-SpatialTypes"]
	path = components/ESP-IDF-SpatialTypes
	url = https://github.com/IgorTimofeev/ESP-IDF-SpatialTypes.git
[submodule "components/ESP-IDF-PIDController"]
	path = components/ESP-IDF-PIDController
	url = https://github.com/IgorTimofeev/ESP-IDF-PIDController.git
[submodule "components/ESP-IDF-CircularQueue"]
	path = components/ESP-IDF-CircularQueue
	url = https://github.com/IgorTimofeev/ESP-IDF-CircularQueue.git
[submodule "components/ESP-IDF-PCA9685"]
	path = components/ESP-IDF-PCA9685
	url = https://github.com/IgorTimofeev/ESP-IDF-PCA9685.git
[submodule "components/ESP-IDF-ADCVoltmeter"]
	path = components/ESP-IDF-ADCVoltmeter
	url = https://github.com/IgorTimofeev/ESP-IDF-ADCVoltmeter.git
[submodule "components/ESP-IDF-EMAFilter"]
	path = components/ESP-IDF-EMAFilter
	url = https://github.com/IgorTimofeev/ESP-IDF-EMAFilter.git
[submodule "components/ESP-IDF-MS4525"]
	path = components/ESP-IDF-MS4525
	url = https://github.com/IgorTimofeev/ESP-IDF-MS4525.git
